POSTGRES_DB=artalk
POSTGRES_USER=artalk
POSTGRES_PASSWORD=CHANGE_ME_WITH_A_LONG_RANDOM_VALUE
ARTALK_APP_KEY=CHANGE_ME_WITH_AT_LEAST_32_RANDOM_CHARACTERS
ARTALK_SITE=兄弟懂我的页面
SITE_URL=https://bro-know-my.org
ARTALK_TRUSTED_DOMAINS=https://bro-know-my.org https://www.bro-know-my.org https://hello-happy.world https://www.hello-happy.world http://localhost:55173 http://127.0.0.1:55173 http://localhost:55174 http://127.0.0.1:55174
ATK_AUTH_ENABLED=false
ATK_AUTH_ANONYMOUS=false
ATK_AUTH_EMAIL_ENABLED=false
ATK_AUTH_CALLBACK=https://comment.bro-know-my.org/api/v2/auth/{provider}/callback
ATK_AUTH_GITHUB_ENABLED=false
ATK_AUTH_GITHUB_CLIENT_ID=
ATK_AUTH_GITHUB_CLIENT_SECRET=
